<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="mapper.AccountMapper">

    <!-- insert user -->
    <insert id = "addAccountInfo" parameterType="service.AccountInfo">
        INSERT INTO account(NAME, ACCOUNTNAME, PASSWORD) VALUES(#{name}, #{accountName}, #{password});
    </insert>

    <select id="queryAccountName" resultType="String">
        select DISTINCT name from account;
    </select>

    <select id="queryAccountInfo" parameterType="String" resultType="service.AccountInfo">
        select id, name, accountname, password from account where name = #{name};
    </select>

    <update id="updateAccountInfo" parameterType="service.AccountInfo">
        update account set name = #{name}, ACCOUNTNAME = #{accountName}, password = #{password} where id = #{id}
    </update>

    <delete id="deleteAccountInfo" parameterType="int">
        delete from account where id = #{id}
    </delete>

</mapper>